@charset "UTF-8";
/*Variables*/
/*Tipografías*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/*Reseteo*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Montserrat"; }
  body h1 {
    text-align: center;
    text-decoration: overline #ad172b;
    padding: 20px; }

/*Responsive*/
@media (min-width: 731px) {
  body h1 {
    text-decoration: overline #ad172b; } }

@media (max-width: 730px) {
  body h1 {
    text-decoration: overline #ad172b; } }

@media (max-width: 400px) {
  body h1 {
    font-size: x-large;
    margin: auto; } }

/* Strong */
strong {
  color: #ad172b; }

/* Footer */
footer {
  height: 50px;
  background-color: #373737; }
  footer img {
    height: 50px; }
  footer p {
    background-color: #ad172b;
    color: white;
    text-align: center;
    margin: auto; }
  footer .redes {
    display: inline-flex;
    float: inline-end;
    margin-right: 20px; }
    footer .redes img {
      height: 30px;
      margin: 10px; }

/*Responsive*/
@media (max-width: 1200px) {
  .footer {
    display: inline-block;
    width: 100%;
    width: 100%; }
    .footer .redes {
      display: block; } }

@media (max-width: 400px) {
  footer {
    width: 100%; } }

/*Navegador*/
.div-barra-de-navegacion {
  max-width: auto;
  margin: auto; }
  .div-barra-de-navegacion .header nav {
    background-color: #AD172B;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 20px;
    height: 100px;
    flex-wrap: wrap;
    align-items: center; }
    .div-barra-de-navegacion .header nav ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap; }
      .div-barra-de-navegacion .header nav ul li {
        font-family: Cabin, Arial, Helvetica, sans-serif;
        list-style: none;
        padding: 10px;
        margin: 0 10px 0 0; }
        .div-barra-de-navegacion .header nav ul li a {
          text-decoration: none;
          color: white;
          font-size: large; }
          .div-barra-de-navegacion .header nav ul li a:hover {
            text-decoration: 2px solid underline white; }
    .div-barra-de-navegacion .header nav img {
      object-fit: contain;
      width: 100px; }
    .div-barra-de-navegacion .header nav .button-hamburgesa button {
      color: white; }
  .div-barra-de-navegacion .header .navbar-toggler {
    border: none !important;
    background-color: white !important;
    box-shadow: none !important; }
  .div-barra-de-navegacion .header #navbarSupportedContent {
    background-color: #AD172B;
    text-align: center;
    color: white; }

/*Responsive*/
@media (max-width: 1200px) {
  .ancho-maximo .header {
    max-width: 1250px;
    margin: auto;
    align-items: center; } }

@media (min-width: 731px) {
  .ancho-maximo .header nav {
    display: flex;
    align-items: center;
    justify-content: space-between; } }

@media (max-width: 400px) {
  .ancho-maximo .header nav {
    display: flex;
    align-items: center;
    justify-content: space-between; } }

/*Home*/
.imagen-fondo {
  height: 500px;
  overflow: hidden;
  width: 100%; }
  .imagen-fondo img {
    width: 100%; }

.main-index .slider1 {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". . ." ". slider ."; }
  .main-index .slider1 .slider {
    grid-area: slider; }

.main-index .carousel {
  width: 100%; }

.main-index .clientes2 h2 {
  margin: 40px;
  text-align: center;
  text-decoration: overline #AD172B; }

.main-index .clientes {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  margin-left: 10px; }
  .main-index .clientes article {
    margin: 10px; }
    .main-index .clientes article .estrellas {
      display: flex; }
      .main-index .clientes article .estrellas img {
        margin: auto; }
    .main-index .clientes article .caras {
      display: flex; }
      .main-index .clientes article .caras img {
        margin: auto;
        margin-bottom: 10px; }

.main-index .galeria {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .main-index .galeria img {
    margin: 5px; }

.main-index .beneficios {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr 1fr 0.2fr;
  grid-template-rows: 1fr 0.2fr 1fr;
  gap: 0px 0px;
  justify-items: center;
  grid-auto-flow: row;
  grid-template-areas: ". ben1 . ben2 ." ". . . . ." ". ben3 . ben4 ."; }
  .main-index .beneficios img {
    width: 60px;
    margin: 15px; }
  .main-index .beneficios .ben1 {
    grid-area: ben1;
    align-content: center; }
    .main-index .beneficios .ben1 img {
      width: 60px; }
  .main-index .beneficios .ben2 {
    grid-area: ben2; }
  .main-index .beneficios .ben3 {
    grid-area: ben3; }
    .main-index .beneficios .ben3 img {
      width: 60px; }
  .main-index .beneficios .ben4 {
    grid-area: ben4; }
    .main-index .beneficios .ben4 img {
      width: 60px; }

/*Responsive*/
@media (max-width: 1200px) {
  .clientes {
    flex-wrap: wrap;
    align-items: center; }
  .beneficios {
    display: grid; } }

@media (min-width: 731px) {
  .main-index .beneficios {
    display: grid;
    align-items: center; } }

@media (max-width: 730px) {
  .imagen-fondo {
    margin-bottom: -20px; }
  .main-index .beneficios {
    display: grid; } }

@media (max-width: 400px) {
  .imagen-fondo {
    margin-bottom: 100px; }
  .main-index {
    margin-top: -250px; }
    .main-index .clientes {
      margin: auto; }
    .main-index .beneficios {
      display: inline;
      align-items: center; } }

/*Nosotros*/
.main-nosotros section {
  width: 80%;
  margin: 20px auto; }
  .main-nosotros section p {
    margin: 30px; }

@media (max-width: 400px) {
  .main-nosotros {
    margin-top: -300px; }
    .main-nosotros section {
      width: 85%; } }

/* Servicios */
.main-servicio .div-servicio {
  display: grid;
  margin: 10px auto;
  grid-template-columns: 0.2fr 1fr 0.2fr 1fr 0.2fr 1fr 0.2fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  margin: 0 10px;
  grid-template-areas: ". article-servicio-1 . article-servicio-2 . article-servicio-3 ."; }
  .main-servicio .div-servicio .article-servicio-1 {
    grid-area: article-servicio-1;
    background-image: url(../recursos/box.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
    height: 450px; }
  .main-servicio .div-servicio .article-servicio-2 {
    grid-area: article-servicio-2;
    background-image: url(../recursos/catering.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    margin-bottom: 10px; }
  .main-servicio .div-servicio .article-servicio-3 {
    grid-area: article-servicio-3;
    background-image: url(../recursos/Ayulem_Destacado_MenuEjecutivo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    margin-bottom: 10px; }
  .main-servicio .div-servicio article {
    height: 450px;
    display: flex;
    justify-content: center; }
  .main-servicio .div-servicio p {
    color: white;
    font-size: 2rem;
    text-align: center;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.3);
    transition: background-color 0.5s cubic-bezier(0, 0, 0.44, 1.18); }

.imagen-fondo-servicio img {
  overflow: hidden;
  width: 100%;
  height: 500px; }

/*Responsive*/
@media (max-width: 1200px) {
  .main-servicio .div-servicio {
    margin: auto; } }

@media (max-width: 730px) {
  .main-servicio .div-servicio {
    display: block;
    margin: auto;
    margin: 0 10px; } }

@media (max-width: 400px) {
  .main-servicio {
    margin-top: -300px; }
    .main-servicio .div-servicio {
      display: block;
      margin: auto;
      margin: 0 10px; } }

/* Tienda */
.main-tienda section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .main-tienda section article {
    margin: 5px;
    padding: 0.6rem; }
    .main-tienda section article .pie {
      background-color: #D1C4B7; }
  .main-tienda section img {
    width: 100%; }

.boton {
  display: flex;
  justify-content: center; }
  .boton button {
    background-color: #AD172B;
    color: white;
    width: 600px;
    height: 40px;
    margin: 50px;
    border: none; }
    .boton button a {
      text-decoration: none;
      color: white; }

/*Responsive*/
@media (max-width: 730px) {
  .main-tienda {
    margin-top: -100px; } }

@media (max-width: 400px) {
  .main-tienda {
    margin-top: -200px; } }

/*Contacto*/
.main {
  /*Mapa*/ }
  .main .mapa {
    display: flex;
    justify-content: center; }
  .main .tit-locales {
    text-align: center;
    text-decoration: overline #AD172B;
    margin-top: 20px; }
  .main .locales {
    display: flex;
    justify-content: center; }
    .main .locales article {
      margin: 10px;
      padding: 5px; }
    .main .locales .localesc img {
      width: 100%;
      overflow: hidden; }
  .main .grid-contacto {
    display: grid;
    align-items: start;
    justify-content: center;
    grid-template-columns: 0.2fr 1fr 0.2fr 1fr 0.2fr;
    grid-template-rows: 0fr 1fr 1fr 0fr;
    gap: 0px 0px;
    grid-template-areas: ". . . . ." ". card1 . card2 ." ". card3 . card4 ." ". . . . ."; }
    .main .grid-contacto .card1 {
      grid-area: card1; }
    .main .grid-contacto .card2 {
      grid-area: card2; }
    .main .grid-contacto .card3 {
      grid-area: card3; }
    .main .grid-contacto .card4 {
      grid-area: card4; }
  .main .boton1 {
    display: flex;
    justify-content: center;
    font-size: 20px; }
    .main .boton1 button {
      background-color: #D1C4B7;
      color: #373737;
      width: 200px;
      height: 50px;
      margin: auto;
      margin-bottom: 10px;
      border: none;
      margin-top: 20px; }
      .main .boton1 button:hover {
        border: 2px solid #D1C4B7;
        background-color: white; }
      .main .boton1 button a {
        text-decoration: none;
        color: #373737; }
  .main .formulario {
    display: flex;
    justify-content: center; }
    .main .formulario form {
      width: 800px;
      box-shadow: #373737 3px;
      border-radius: 5px;
      margin: 10px;
      padding: 10px; }
      .main .formulario form #exampleInputMessage1 {
        height: 200px; }
      .main .formulario form .botonc {
        background-color: #AD172B;
        width: 80px;
        color: #AD172B; }
        .main .formulario form .botonc button {
          color: white; }

/*Responsive*/
@media (min-width: 731px) {
  .main .grid-contacto {
    display: grid;
    margin: auto;
    width: 100%;
    justify-items: center; } }

@media (max-width: 730px) {
  .main .grid-contacto {
    display: grid;
    margin: 20px auto;
    margin-bottom: -20px;
    justify-items: center;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 550px);
    grid-template-areas: "card1" "card2" "card3" "card4"; } }

@media (max-width: 400px) {
  .main .grid-contacto {
    display: grid;
    margin: 20px auto;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 550px);
    grid-template-areas: "card1" "card2" "card3" "card4"; } }
