@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat";
}

h1 {
    text-align: center;
    text-decoration: overline #AD172B;
    padding: 20px;
}

/* Navegador */

nav {
    background-color: #AD172B;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 20px;
    height: 90px;
    flex-wrap: wrap;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    font-family: Cabin, Arial, Helvetica, sans-serif;
    list-style: none;
    padding: 10px;
    margin: 0 10px 0 0;

}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: large;
}

nav ul li a:hover {
    text-decoration: 2px solid underline white;
}

nav img {
    height: 100px;
}

/* Home */
.imagen-fondo {
    height: 500px;
    overflow: hidden;
}

.productos-mas-pedidos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;


}

.productos-mas-pedidos article {
    margin: 10px;
}

.productos-mas-pedidos article img {
    height: 250px;
}

.productos-mas-pedidos p {
    text-align: center;

}

.clientes h2 {
    margin: 40px;
    text-align: center;
    text-decoration: overline #AD172B;
    font-size: x-large;
}

/* Tienda */
/* .tienda section {
    display: flex;
    justify-content: center;
    flex-direction: column;
} */
.tienda section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.tienda section article {
    margin: 5px;
    padding: 0.6rem;

}

.tienda section img {
    width: 100%;
}

.cards {
    flex-grow: 1;
}

.pie {
    background-color: #D1C4B7;
}

.boton {
    display: flex;
    justify-content: center;
}

.boton button {
    background-color: #AD172B;
    color: white;
    width: 600px;
    height: 40px;
    margin: 50px;
    border: none;
    border-radius: 20px;
}

/* Footer */
footer {
    background-color: #373737;
}

footer img {
    height: 50px;
}

footer p {
    background-color: #AD172B;
    color: white;
    text-align: center;
}

/* Strong */
strong {
    color: #AD172B;
}

.nosotros section p {
    margin: 30px;
}

/* Mapa */
.mapa {
    display: flex;
    justify-content: center;
}

/* Contacto */
h3 {
    background-color: #D1C4B7;
}

.tit-locales{
    text-align: center;
    text-decoration: overline #AD172B;
    margin-top: 20px;
}

.locales {
    display: flex;
    justify-content: center;
}

.locales article {

    margin: 10px;
    padding: 5px;
}

.locales .localesc img {
    width: 100%;
    overflow: hidden;
}

.seccion1-index {
    display: grid;
    align-items: start;
    justify-content: center;
    grid-template-columns: 0.2fr 1fr 0.2fr 1fr 0.2fr;
    grid-template-rows: 0fr 1fr 1fr 0fr;
    gap: 0px 0px;
    grid-template-areas:
        ". . . . ."
        ". card1 . card2 ."
        ". card3 . card4 ."
        ". . . . .";
}

.card1 {
    grid-area: card1;
}

.card2 {
    grid-area: card2;
}

.card3 {
    grid-area: card3;
}

.card4 {
    grid-area: card4;
}
.boton1{
    display: flex;
    justify-content: center;
}
.boton1 button{
    background-color: #D1C4B7;
    color: #373737;
    width: 200px;
    height: 50px;
    margin: auto;
    margin-bottom: 10px;
    border: none;
}

/* Servicios */
.servicio {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.servicio article {
    margin: 20px;
}

.servicio img {
    height: 450px;
}