/* Home */
main{
    .slider1 {
        display: grid;
        grid-template-columns: 0.2fr 1fr 0.2fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas:
            ". . ."
            ". slider .";
            .slider {
                grid-area: slider;
            }
            .carrusel {
                width: 100%;
            }
    }
    .clientes2{
        h2 {
        margin: 40px;
        text-align: center;
        text-decoration: overline #ad172b;
    }
    }    
    
    .clientes {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 10px;
        margin-left: 10px;
        article {
            margin: 10px;
        }
    }
    section{
        .beneficios {
            display: grid;
            grid-template-columns: 0.2fr 1fr 0.2fr 1fr 0.2fr;
            grid-template-rows: 1fr 0.2fr 1fr;
            gap: 0px 0px;
            justify-items: center;
            grid-auto-flow: row;
            grid-template-areas:
                ". ben1 . ben2 ."
                ". . . . ."
                ". ben3 . ben4 .";
                img {
                    width: 60px;
                    margin: 15px;
                }
                .ben1{ 
                    grid-area: ben1;
                    align-content: center;
                img {
                    width: 60px;
                } 
                } 
                .ben2 {
                grid-area: ben2;
                }
                .ben3{ 
                    grid-area: ben3;
                img {
                    width: 60px;
                }
                } 
                .ben4{
                    grid-area: ben4;
                    img {
                        width: 60px;
                    }
                    }     
                }
    }
            .galeria {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                img {
                    margin: 5px;
                }
            }
}
.imagen-fondo {
    img {
        height: 450px;
        overflow: hidden;
        width: 100%;
    }
}


//Responsive


@media (max-width: 1200px) {
    .ancho-maximo.header {
        max-width: 1250px;
        margin: auto;
        align-items: center;
    }

    .beneficios {
        display: grid;
    }

    .clientes {
        flex-wrap: wrap;
        align-items: center;
    }

    .footer {
        display: inline-block;
        width: 100%;
    }

    .redes {
        display: block;
    }

    .footer {
        width: 100%;
    }

    .div-servicio {
        margin: auto;
    }
}

@media (min-width: 731px) {
    .ancho-maximo.header nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .grid-contacto {
        display: block;
    }

    .beneficios {
        display: grid;
        align-items: center;
    }

    h1 {
        text-decoration: underline #ad172b;
    }

    .grid-contacto {
        display: grid;
        margin: auto;
        width: 100%;
        justify-items: center;
    }
}

@media (max-width: 730px) {
    main{
        section{
            .beneficios {
        display: grid;
        margin: 0 10px;
    }    
        }
    }

}

@media (max-width: 400px) {
    main{
    .clientes {
        margin: auto;
    }   
    }

    main{
        section {
            .beneficios {
        display: inline-block;
        align-items: center;
    }
        }
    } 

}