/* Servicios */
.main-servicio {
    .div-servicio {
        display: grid;
        margin: 10px auto;
        grid-template-columns: 0.2fr 1fr 0.2fr 1fr 0.2fr 1fr 0.2fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        margin: 0 10px;
        grid-template-areas:
            ". article-servicio-1 . article-servicio-2 . article-servicio-3 .";

        .article-servicio-1 {
            grid-area: article-servicio-1;
            background-image: url(../recursos/box.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            margin-bottom: 10px;
            height: 450px;
            margin: 10px auto;

        }

        .article-servicio-2 {
            grid-area: article-servicio-2;
            background-image: url(../recursos/catering.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            height: 450px;
            margin-bottom: 10px;
            margin: 10px auto;
        }

        .article-servicio-3 {
            grid-area: article-servicio-3;
            background-image: url(../recursos/Ayulem_Destacado_MenuEjecutivo.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            height: 450px;
            margin-bottom: 10px;
            margin: 10px auto;
        }

        article {
            height: 450px;
            display: flex;
            justify-content: center;
        }

        p {
            color: rgb(255, 255, 255);
            font-size: 2rem;
            text-align: center;
            margin: auto;
            background-color: rgba(0, 0, 0, 0.3);
            transition: background-color 0.5s cubic-bezier(0, 0, 0.44, 1.18);
        }
    }
}

.imagen-fondo-servicio {
    img {
        overflow: hidden;
        width: 100%;
        height: 500px;

    }
}
/*Responsive*/


@media (max-width: 1200px) {
    .main-servicio {

        .div-servicio {
            display: grid;
            margin: auto;
        }
    }
}

@media (max-width: 730px) {
    .main-servicio {

        .div-servicio {
            display: block;
            margin: auto;
        }
    }
}

@media (max-width: 400px) {
    .main-servicio {
        margin-top: -300px;
        .div-servicio {
            display: block;
            margin:auto;
        }
    }
}
