/* Footer */
footer {
    background-color: #373737;
    img {
    height: 50px;
    }
    p {
        background-color: #ad172b;
        color: white;
        text-align: center;
        margin: auto;
    }
    
    .redes {
        display: inline-flex;
        float: inline-end;
        margin-right: 20px;
        img {
            height: 30px;
            margin: 10px;
        }
    }
}

@media (max-width: 1200px) {
    .footer {
        display: inline-block;
        width: 100%;
        width: 100%;
        .redes {
            display: block;
        }
    }
}

@media (max-width: 400px) {

    footer {
        width: 100%;
    }
}